*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    /* overflow-x: hidden; */
    /* color: #757575 !important; */
}

.home-header{
    height: 100vh;
    background-image: url(../images/hero.png);
    color: white;
}

.innerpage-header{
    height: 30vh;
    color: #fff;
    padding-top: 48px;
}
.h1-home-header{
    font-size: 74pt;
    letter-spacing: -8px; 
    font-weight: 700;
}

.h1-big{
    font-weight: 700; 
    color: #A8AC2E; 
    font-size: 65px; 
    letter-spacing: -3px;
}
h1{
    font-weight: 700; 
    font-size: 65px; 
    letter-spacing: -3px;
}



h3{
    font-weight: 700;
}

nav{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 9999;
    padding: 20px 140px 15px 0;
    background: transparent;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}
/* .nav li a {
    color: white;
    float: right;
} */

ul li .active{
    text-decoration: underline !important;
    color:#a8ac2e !important;
}


.nav>li>a:hover {
    text-decoration: underline;
    color: #A8AC2E;
    background-color: transparent;
}
.d-flex{
    display: flex;
}

.header-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.button-primary{
    color: white;
    background-color: #a8ac2e;
    padding: 20px;
    font-weight: bold;
}

#listed-art{
    background: url("../images/world-map.png");
    background-size: cover;
    width: 100%;
}

.faq-q{
    color: #878787 !important; 
    font-weight: 700; 
    font-size: 18px; 
    text-decoration: none;
}

.border-custom {
    border: 1px solid #A8AC2E !important;
}

.payment-height{
    height: 45vh;
}
.card-height{
    height: 85vh;
}

@media only screen and (max-width: 768px){
    /* .navbar-nav {
        float: right;
        margin: 0;
    } */

    .h1-home-header{
        font-size: 70px;
        letter-spacing: -4px; 
        font-weight: 700;
    }
    .faq-q{
        font-size: 14px; 
    }
    .card-height{
        height: auto;
    }

    .payment-height{
        height: auto;
    }
}
